/*==== Main Style Sheet ====*/

/*== BASIC RESET ==*/
*
{
border:0;
outline:0;
padding:0;
margin:0;
}

body
{
	font-family: 'helvetica', arial;
}
/*=== FONTS ===*/

@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico/pacifico-webfont.eot');
    src: url('fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pacifico/pacifico-webfont.woff2') format('woff2'),
         url('fonts/pacifico/pacifico-webfont.woff') format('woff'),
         url('fonts/pacifico/pacifico-webfont.ttf') format('truetype'),
         url('fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas/bebas___-webfont.eot');
    src: url('fonts/bebas/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas/bebas___-webfont.woff2') format('woff2'),
         url('fonts/bebas/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.wrapper
{
	position: relative;
	top:0;
	margin: 0 auto;
	max-width:960px;
}

/*== NAV ==*/
.head_container
{
	padding-left:0!important;
}
.navbar-brand
{
font-family: 'pacificoregular';
font-size: 46px;
color: #000;
margin-top:10px;
}

.nav li a 
{
	font-size:18px;
	color:#000;
	font-family: 'bebasregular';
	color: #474747;
}

.nav li a span
{
	display: block;
	font-weight: normal;
	font-size:12px;
	color:#bdbdbd;
	padding-bottom:5px;

}

.navbar-toggle
{
	border-color:#000;
	margin-top:20px;
}
.navbar-toggle .icon-bar {
    background-color: #000;
}

/*=== SLIDER ===*/

.carousel {
 
    margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */

.static_caption
{
	position: absolute;
	bottom: 0px;
	left:0px;
	z-index:999;
}

 .carousel-caption h4
 {
 	font-family: 'bebasregular';
text-shadow:0px 0px 0px!important;
color:#000;
font-size:18px!important;
margin:10px;
 }

  .carousel-caption p
  {
text-shadow:0px 0px 0px!important;
color:#000;
font-size:12px!important;
margin:10px;
  }
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    background-color: #f5f5f5;
}
.carousel-inner > .item > img {

    top: 0;
    left: 0;
    width: 100%;
   
margin-left: 0;
}

.carousel-indicators{
	position: absolute;
   top: 75%;
   right: 10px;
   left: initial;
}
.carousel-indicators li {
    display:inline-block;
}
.carousel-indicators{

    width: auto;
}

.carousel-indicators li {
  width: 20px;
  height: 5px;
  margin: 1px;
  border: 3px solid #fff;
  border-radius: 1px;
}
.carousel-indicators .active {
  width: 20px;
  height: 5px;
  margin: 1px;
  background-color: #444444;
  border: 3px solid #444444;
}


@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 0px;
        font-size: 21px;
    }
}






.carousel-caption {
	position: relative;
color:#000;
text-align: left;
left:10px;
right:0;
width:100%;
}


 .carousel-caption h2
 {
text-shadow:0px 0px 0px!important;
color:#818181;
font-size:14px!important;
margin:10px;

 }

  .carousel-caption p
  {
text-shadow:0px 0px 0px!important;
color:#818181;
font-size:12px!important;

  }


.carousel-inner{

  max-height: 520px !important;
}
